.container-data {
    height: 500px;
    overflow-y: auto;
    position: absolute;
    z-index: 9999;
    background: #FFF;
    right: 65px;
    top: 58px;
    border: 1px solid #8c8888;
}

.card-data {
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #FFF;
    cursor: pointer;  
}

.card-data:hover {
    background: lightgray;
}